.loan {
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-width: 350px;
  padding: 15px 15px 0px;
  transition: all 0.3s ease-out;
}

.loan h2 {
  font-size: 1.5em;
  margin: 0 0 25px;
}

.loan a {
  color: #1b95e0;
  font-size: 0.8rem;
  margin: -20px 0 5px;
  text-decoration: none;
}

.loan .data-point {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
}

.loan .data-point label {
  color: #424242;
  font-size: 1em;
  margin: 0 0 5px;
}

.loan .data-point p {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0 20px;
  text-align: center;
}

.loan .data-point p.small {
  font-size: 0.8em;
  font-weight: normal;
  margin: -15px 0 15px;
}

.loan.invalid {
  background: #ffb9b9;
}

.loan.invalid .data-point.downpayment label {
  color: #d02e2e;
}
